.new{
    display: flex;
    justify-content: center;
    align-items: center;
}

div h2{
    font-weight: 500;
    margin-left: 35px;
    margin-top: 17px;
    margin-bottom: 15px;
}
.iim{
    margin-left: 45px;
}
.ii{
    color: orange;
    /* margin-left: 45px; */
}
/* .parent2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 11px;
    height: 180px;
    background-color: RED;
   
    }

    .div5 { 
        grid-area: 1 / 1 / 2 / 2; 
        height: 180px;
        border: 1px solid rgb(221, 220, 220);
    } */


    @media(max-width:786px){
        .new{
            display: block;
            justify-content: center;
            margin-left: 35px;
        }
    }